<%= simple_form_for(@author) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  </div>

  <div class="field">
    <div class="row">
      <div class="col-xs-6">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>
      <div class="col-xs-6">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
        
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.input :birth_date, as: :date, label: "Prochaine disponibilité :", :use_month_names => ['janvier', 'février',
      'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-xs-3"></div>
      <%= form.submit 'Mettre à Jour', class: 'btn btn-primary col-xs-6' %>
      <div class="col-xs-3"></div>
    </div>
      
  </div>
<% end %>
