<p id="notice"><%= notice %></p>
<div class="container-fluid">
	<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/random');">
	  <div class="card-category">Popular</div>
	  <div class="card-description">
	    <h2><%= @author.name %></h2>
	    <p>
	    	<strong>Date de Naissance:</strong>
	  		<%= @author.birth_date.strftime('%d-%m-%Y') %>
	  		<strong>Ville :</strong>
	  		<%= @author.city %>
	  		<strong>Nombre de livre(s) publié(s):</strong>
	  		<%= @author.nb_of_book_published %>
	  	</p>
	  </div>
	  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
	  <a class="card-link" href="#" ></a>
	</div>
	<%= link_to 'Voir les Livres de cet auteur', author_books_path(@author), class: 'btn btn-primary' %> |
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
	  Éditer cet auteur
	</button>|
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_book">
	  Ajouter un livre à <%= @author.name %>
	</button>|
	<%= link_to 'Back', authors_path, class: 'btn btn-danger' %>
</div>

<!-- Modal Edit author -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h1>Editing <%= @author.name %></h1></h5>
      </div>
      <div class="modal-body">
				<%= render 'edit', author: @author%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal adding new book to author -->
<div class="modal fade" id="add_book" tabindex="-1" role="dialog" aria-labelledby="add_bookLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_bookLabel"><h1>Ajouter un livre à <%= @author.name %></h1></h5>
      </div>
      <div class="modal-body">
      	<%= render "books/new_for_modal", author: @author, book: @book %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
