<p id="notice"><%= notice %></p>

<p>
  <strong><%= @author.name %></strong>
  
</p>

<p>
  <strong>Date de Naissance:</strong>
  <%= @author.birth_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @author.city %>
</p>

<p>
  <strong>Nb of book published:</strong>
  <%= @author.nb_of_book_published %>
</p>

<p>
  <strong>Voir mes</strong>
  <%= @author.nb_of_book_published %>
</p>

<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-info' %> |
<%= link_to 'Back', authors_path, class: 'btn btn-danger' %>
