<% @book = Book.new  %>
<%= simple_form_for @book, url: author_books_path(@author) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name, label: "Titre du livre de #{@author.name}"%>
  </div>

  <div class="field">
    <%= form.input :published_date, label: 'Date de publication' %>
  </div>

  <div class="field">
    <%= form.input :description, label: 'Résumé du livre' %>
  </div>
  
  <div class="field">
    <%= form.input :page_number, label: 'Nombre de pages' %>
  </div>

  <div class="actions" style="display: flex; justify-content: space-around;">
    <div class="row ">
      <%= form.submit "Ajouter un livre à cet auteur", class: 'btn btn-primary' %>
    </div>
    <div class="row ">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

    </div>
  </div>
<% end %>
