<p id="notice"><%= notice %></p>
<div class="card bg-dark text-white" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/book_cards.jpg');">
  <div class="card-img-overlay">
    <h4 class="card-title text-center">
      <strong><%= @book.name %></strong>
        écrit par <%= @book.author.name %>
    </h4>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <p class="card-text">
          <strong>Résumé:</strong>
          <%= @book.description %> 
        </p>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <p class="card-text">
          <strong>Publié :</strong>
          <%= @book.published_date %>
        </p>
      </div>
      <div class="col-xs-4">
        <p class="card-text">
          <strong>Nombre de page:</strong>
          <%= @book.page_number %>
        </p>
      </div>
    </div>
  </div>
</div>

 <%= render 'modal_edit_book', book: @book %>|
 <%= link_to "Liste des livres écrient par #{@author.name}", author_books_path(@author), class: 'btn btn-info' %> 
