<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @book.published_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @book.page_number %>
</p>

<%= link_to 'Edit', edit_author_book_path(@author, @book) %> |
<%= link_to 'Back', author_books_path(@author) %>
