<%= simple_form_for @borrower  do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="col-xs-6">
      <%= f.input :first_name, label: 'Votre Nom' %> 
    </div>
    <div class="col-xs-6">
      <%= f.input :last_name, label: 'Votre prénom' %> 
    </div>
    <div class="col-xs-6">
      <%= f.input :birth_date, label: 'Votre date de naissance', as: :string, required: false, input_html: {class: "datepicker"}%>
    </div>

    <div class="col-xs-6">
      <%= f.input :city, label: 'La ville où vous habitez' %>  
    </div>
  </div>

  <div class="form-actions">

    <div class="row">
      
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <div class="col-xs-offset-3 col-xs-6">
        <%= f.submit 'Enregister les modifications', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>