<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/books-library.jpg');">
  <div class="banner-content">
    <h1>La boite aux livres</h1>
    <p>Découvrez un auteur et ces livres</p>
    <a class="btn btn-primary btn-lg">Découvrir</a>
  </div>
</div>
<div class="row serch_tab">
    <%= form_tag root_path, method: :get do %>
      <div class="col-xs-offset-3 col-xs-4">
        <%= text_field_tag :query, params[:query],class: "form-control",placeholder: "Chercher un livre"%>
      </div>
      <div class="col-xs-2">
        <%= submit_tag 'Chercher', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>

<div class="container" id="container-index-books">
  <div class="row">
    <% @books.each do |book|  %>
      <div class="col-xs-12 col-sm-4">
      <%= link_to  author_book_path(book.author, book)  do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('assets/book_cards.jpg');">
          <div class="card-category"><%= book.author_name %></div>
          <div class="card-description">
            <h2><%= book.name %></h2>
            <p><%= book.page_number%> pages</p>
            <p>Publier le <%= book.published_date.strftime('%d-%m-%Y') %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if @borrower.present? == false %>
  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>


